/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Home Styles
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body {
    background: #0f0f0f;
}

/* ------------------------------------------------------------------ */
/* b. Home Styles
/* ------------------------------------------------------------------ */

header {
    position: relative;
    /*height: 800px;*/
    height: 100vh;
    min-height: 500px;
    width: 100%;
    background: #161415 url(../images/home-background.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}

/* vertically center banner section */
header:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
}

header .banner-text {
    width: 100%;
}

header .banner-text h1 {
    font: 80px/1.1em 'opensans-bold', sans-serif;
    color: #D3D1B9;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

header .banner-text h3 {
    font: 18px/1.9em 'librebaskerville-regular', serif;
    color: #D3D1B9;
    margin: 0 auto;
    width: 100%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    font-weight: bold;
}

header .banner-text h3 span,
header .banner-text h3 img {
    width: 6%;
    margin: 2px;
    transition: transform .2s;
}
header .banner-text h3 img:hover {
    transform: scale(1.5);
}
header .banner-text h3 a {
    color: #11ABB0;
}

header .banner-text hr {
    width: 60%;
    margin: 12px auto 18px auto;
    border-color: #2F2D2E;
    border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
    margin: 24px 0;
    padding: 5px;
    font-size: 60px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .8);
}

header .social li {
    display: inline-block;
    margin: 0 20px;
    padding: 0;
}

header .social li a {
    color: #D3D1B9;

}

header .social li a:hover {
    color: #11ABB0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* nav-wrap */
#nav-wrap {
    font: 15px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}

.opaque {
    background-color: #333;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
    display: none;
}

ul#nav {
    min-height: 48px;
    width: auto;

    /* center align the menu */
    text-align: center;
}

ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
}

/* Links */
ul#nav li a {

    /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #D3D1B9;

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

ul#nav li a:active {
    background-color: transparent !important;
}

ul#nav li.current a {
    color: #11ABB0;
}

ul#nav li a:hover {
    color: #11ABB0;
    transform: scale(1.5);
}

.brands {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;

}


/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
    opacity: 1;
}

/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
    opacity: 0;
}

/* ------------------------------------------------------------------ */
/* f. Call To Action Section
/* ------------------------------------------------------------------ */

#call-to-action {
    background: #212121;
    padding-top: 66px;
    padding-bottom: 48px;
}

#call-to-action h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}

#call-to-action h1 span {
    display: none;
}

#call-to-action .header-col h1:before {
    font-family: 'FontAwesome';
    content: "\f0ac";
    padding-right: 10px;
    font-size: 72px;
    line-height: 72px;
    text-align: left;
    float: left;
    color: #fff;
}

#call-to-action .action {
    margin-top: 12px;
}

#call-to-action h2 {
    font: 28px/36px 'opensans-bold', sans-serif;
    color: #EBEEEE;
    margin-bottom: 6px;
}

#call-to-action h2 a {
    color: inherit;
}

#call-to-action p {
    color: #636363;
    font-size: 17px;
}

#call-to-action p span {
    font-family: 'opensans-semibold', sans-serif;
    color: #D8D8D8;
}

/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container {
    zoom: 1;
    position: relative;
}
